apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deloy
  labels:
    app: backend

spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 25%

  selector:
    matchLabels:
      app: backend
  
  template:
    metadata:
      labels:
        app: backend

    spec:
      containers:
      - name: backend-container
        image: abhi0874/todo-backend:v4
        imagePullPolicy: Always
        env:
          - name: MONGO_CONN_STR
            valueFrom:
              secretKeyRef:
                name: mongo-sec
                key: MONGO_CONN_STR

          # - name: MONGO_USERNAME
          #   valueFrom:
          #     secretKeyRef:
          #       name: mongo-sec
          #       key: username

          # - name: MONGO_PASSWORD
          #   valueFrom:
          #     secretKeyRef:
          #       name: mongo-sec
          #       key: password
        ports:
        - containerPort: 8080

        livenessProbe:
          httpGet:
            path: /ok
            port: 8080
          initialDelaySeconds: 2
          periodSeconds: 5

        readinessProbe:
          httpGet:
            path: /ok
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 5
          successThreshold: 1