apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deploy
  labels:
    app: frontend

spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 25%

  selector:
    matchLabels:
      app: frontend
  
  template:
    metadata:
      labels:
        app: frontend

    spec:
      containers:
      - name: todo-frontend-container
        image: abhi0874/todo-frontend:v3
        imagePullPolicy: Always
        # env:
        #   - name: REACT_APP_BACKEND_URL
        #     value: "http://127.0.0.1:57847/api/tasks"
        #   - name: REACT_APP_AUTH_URL
        #     value: "http://127.0.0.1:57847/api/auth"
        ports:
        - containerPort: 80
